.certificates {
    min-height: 400px;
    overflow: visible;
    width: 100%;
    z-index: 1;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: var(--background-color);

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 20px 0;
        -ms-overflow-style: none;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    ::-webkit-scrollbar {
        height: 3px;
        width: 4px;
        background: gray;
        z-index: 9999;
        cursor: pointer !important;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--secondary-background-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        background-color: var(--secondary);
        border-radius: 10px;
        cursor: pointer;
    }

    .card {
        cursor: pointer;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        margin-left: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        &:last-child {
            margin-right: 50px;
        }

    }
}