.endoCards {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 5rem;

    .endoCardsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 700px) {
    .endoCards {
        .endoCardsWrapper {
            gap: 2rem;
        }
    }
}