.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: var(--menu-header);
    box-shadow: 0 2px 5px var(--secondary);
    z-index: 99;
    transition: var(--defaultTransition);

    .wrapper {
        max-width: var(--max-width);
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .logo {
        height: 90px;
        display: flex;
        align-items: center;
        float: left;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        transition: var(--defaultTransition);
        padding: 0 10px;
        cursor: pointer;

        img {
            margin-right: 10px;
            transition: var(--defaultTransition);
            height: 75px;
            width: auto;
        }
    }

    .menu {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 0;
        transition: var(--defaultTransition);

        hr {
            width: 100%;
            height: 2px;
            background-color: var(--secondary);
        }

        .topControls,
        .bottomControls {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            overflow: hidden;
            gap: 5px;

            .menuItem {
                visibility: hidden;
                width: 100%;
                transition: all .6s ease-in-out, background-color .3s ease-in-out;

                &:hover {
                    background-color: var(--menu-active);
                    border-radius: .4rem;
                }

                .dropMenu {
                    list-style-type: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    display: block;
                    transition: all .4s ease-in-out;
                    opacity: 1;
                    text-align: center;
                    max-height: 500px;
                    transition: max-height 0.25s ease-in;
                    position: relative;

                    li {
                        opacity: 1;
                        transition: all .6s ease-in-out, background-color .3s ease-in-out;

                        a {
                            padding: 0.5rem;
                        }
                    }
                }

                .dropMenu.hide {
                    max-height: 0;
                    transition: max-height 0.15s ease-out;
                    padding: 0;
                    overflow: hidden;

                    li {
                        opacity: 0;
                    }
                }

                .link {
                    display: block;
                    text-decoration: none;
                    position: relative;
                    color: var(--menu-text);
                    cursor: pointer;
                    width: 100%;

                    &:hover {
                        color: var(--secondary);
                    }

                    .link_content {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .5rem;
                        padding: .5rem 1rem;
                        margin: 0;

                        .icon {
                            transform: rotate(0deg);
                            transition: transform .2s ease-in-out;
                        }

                        .subIcon {
                            transform: rotate(-180deg);
                        }
                    }

                    &:hover {
                        color: var(--secondary);
                    }

                    ul {
                        li {
                            a {
                                p {
                                    font-size: .9rem;
                                }
                            }
                        }
                    }
                }
            }

            .subMenuHover {
                &:hover {
                    background-color: unset;
                }

                a p {
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                    padding: 0 1rem;
                }
            }

            .menuSubItem {
                &:hover {
                    background-color: var(--menu-active);
                    border-radius: .4rem;
                }
            }
        }

        .topControls {
            transition: var(--defaultTransition);
            justify-content: center;
            flex-direction: row;

            .menuItem {
                &:hover {
                    background-color: unset;
                    box-shadow: unset;
                }
            }

            .social {
                width: fit-content;
                padding: 1rem;
            }
        }

        .bottomControls {
            padding: 0 1rem;

            .menuItem {
                .link {
                    font-size: 1.2rem;
                }

                &:first-child {
                    margin-top: 1rem;
                }

                &:last-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.header {
    &.shrink {
        height: 50px;
        background-color: var(--menu-content);

        .logo {
            font-size: 0;
            height: 50px;

            img {
                height: 35px;
            }
        }
    }
}

.menuBtn {
    display: none;
    box-sizing: border-box;

    &:checked {

        ~.menu {
            max-height: 200vh;
            background-color: var(--menu-content);
            box-shadow: 0px 8px 10px -10px var(--secondary);

            .menuItem {
                visibility: visible;
            }
        }

        ~.menuIcon .navicon {
            background: transparent;
        }

        ~.menuIcon .navicon:before {
            transform: rotate(-45deg);
        }

        ~.menuIcon .navicon:after {
            transform: rotate(45deg);
        }

        ~.menuIcon:not(.steps) .navicon:before,
        ~.menuIcon:not(.steps) .navicon:after {
            top: 0;
        }
    }
}

.header {
    .menuIcon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        padding: 0 15px;
        height: 100%;

        .navicon {
            background: var(--text-color);
            display: block;
            height: 2px;
            position: relative;
            transition: var(--defaultTransition);
            width: 18px;

            &:before {
                background: var(--text-color);
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                transition: all 0.2s ease-out;
                width: 100%;
                top: 5px;
            }

            &:after {
                background: var(--text-color);
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                transition: all 0.2s ease-out;
                width: 100%;
                top: -5px;
            }
        }
    }
}

.activeLink {
    font-weight: 900;
    border-radius: .4rem;
    background-color: var(--menu-active);
    color: var(--secondary);
}

.withoutBoxShadow {
    box-shadow: unset;
}

@media (min-width: 820px) {
    .header {
        height: 85px;
        backdrop-filter: var(--blur);

        .menuItem {
            float: left;

        }

        .logo {
            height: 80px;

            img {
                height: 55px;
                width: auto;
            }
        }

        &.shrink {
            .menu {
                .topControls {
                    visibility: hidden;
                    margin-top: -30px;
                    margin-bottom: .5rem;
                }

                .bottomControls {
                    .menuItem {
                        div {
                            .dropMenu {
                                top: 50px;
                            }
                        }
                    }
                }
            }
        }

        .menu {
            flex-wrap: wrap;
            flex-direction: row;
            position: relative;

            .topControls,
            .bottomControls {
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-start;

                .menuItem {
                    visibility: visible;
                    width: fit-content;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        background-color: unset;
                        box-shadow: unset;
                    }

                    &:first-child {
                        margin: unset;
                    }

                    &:last-child {
                        margin: unset;
                    }

                    .link {
                        cursor: pointer;
                    }
                }
            }

            .topControls {
                padding: 5px 0 7px 0;
                display: flex;
                gap: 1rem;
                margin-top: .5rem;
                margin-right: 2rem;

                .social {
                    width: fit-content;
                }
            }

            hr {
                display: none;
            }

            .bottomControls {
                overflow: unset;

                .menuItem {
                    div {
                        position: relative;

                        .dropMenu {
                            position: absolute;
                            content: '';
                            top: 55px;
                            left: -150px;
                            transform: translateX(100px);
                            width: fit-content;
                            background-color: var(--menu-content);
                            border-radius: .4rem;
                            box-shadow: 0 2px 2px rgba(0, 0, 0, .4);

                            li {
                                white-space: nowrap;
                            }
                        }

                    }
                }
            }

        }
    }

    .header .menu {
        clear: none;
        max-height: none;
    }

    .header .menuIcon {
        display: none;
    }

    .activeLink {
        font-weight: normal;
        border-radius: unset;
        background-color: unset;
        color: inherit;
    }
}