.background {
    background-color: var(--background-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.splide {
    padding: 2rem 0 0;
}

.splideSlide {
    display: flex;
    justify-content: space-between;

}