.information {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    svg {
        min-width: 20px;
        margin-top: 6px;
        margin-right: 3px;
        color: var(--title-text);
    }

    p {
        font-family: noir-medium !important;
        color: var(--text-color);

        span {
            font-family: noir-medium !important;
            color: var(--secondary);
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .timer {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        p {
            padding: 1rem;
            border-radius: .4rem;
            color: var(--text-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            // background-color: var(--secondary-background-color);
            // border: 1px solid var(--secondary);
            // box-shadow: var(--shadow-contact);

            small {
                padding: 0;
                margin: 0;
                font-size: .7rem;
                color: var(--secondary)
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .information {
        p {
            font-size: 1.3rem;
        }

        .timer {
            gap: 1rem;

            p {
                width: 70px;
                height: 70px;
            }

        }
    }
}