.background {
    background-color: var(--background-color);
}

.subTitle {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    color: var(--secondary);
    font-size: 1rem;
    font-family: noir-medium !important;
}

.cardWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.card {
    flex: 1;
    flex-basis: 300px;
    padding: 1rem;
    border-radius: .4rem;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 1px;

    &:nth-child(2) {
        color: var(--white);
        background-color: var(--secondary);
        box-shadow: var(--shadow-contact);

        ul {
            .element {
                svg {
                    color: var(--white);
                }
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .3rem;

        .element {
            svg {
                color: var(--secondary);
            }

            display: flex;
            gap: .4rem
        }
    }
}

.title {
    display: flex;
    gap: .5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card2 {
    flex: 1;
    flex-basis: 300px;
    padding: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);


    h5 {
        color: var(--secondary);
    }

    span {
        color: var(--secondary);
    }

    p {
        margin-top: .5rem;
        font-size: .8rem;

    }
}

.cardWrapper3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.card3 {
    padding: 1rem;
    border-radius: .4rem;
    letter-spacing: 1px;
    color: var(--text-color);

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.subTitleSmall {
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: .3rem;
    color: var(--text-color);

}

@media screen and (min-width: 700px) {
    .subTitle {
        font-size: 1.3rem;
    }
}