.background {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.information {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: var(--text-color)
}