.wrapper {
    width: fit-content;
    border-radius: 4px;
}

.wrapperTwo {
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.slash {
    color: var(--text-color);
}

.link {
    padding: .2rem .3rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--text-color);
    transition: all .3 ease-in-out;

    &:last-of-type {
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
    }

    &:first-child {
        padding-left: 0;
    }

    &:hover {
        color: var(--secondary);
    }
}