.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    padding-top: 3rem;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    button {
        transition: all .3s ease-in-out;
    }

    .left {
        padding-top: 3rem;

        img {
            margin: auto;
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: 768px) {
    .section {
        section {
            display: flex;
            align-items: flex-start;

            .content {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between !important;
                gap: 2rem;
            }

            .left {
                width: 50%;

                img {
                    min-width: 350px;
                    width: 100%;
                    height: auto;
                    max-width: 500px;
                    margin: unset;
                }
            }

            .right {
                padding-top: 3rem;
                max-width: 650px;
            }
        }
    }
}